<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="true" scanPeriod="30 secondes">
    <property name="CONSOLE_APPENDER_NAME" value="CONSOLE"/>
    <property name="FILE_APPENDER_NAME" value="FILE"/>
    <property name="CONSOLE_LOG_PATTERN" value="%d{yy-MM-dd HH:mm:ss}-[%-5level]-[%class:%method]- %msg %n"/>
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSSS} - [Thread:%thread] - [level: %-5level] - [%class : %method : %line] - %msg %n"/>
    <property name="FILE_NAME_PATTERN" value="%d{yyyy-MM-dd}.%i.log"/>
    <property name="FILE_PATH" value="/logs/nicefish-blog"/>
    <property name="ROOT_LEVEL" value="info"/>


    <appender name="${CONSOLE_APPENDER_NAME}" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="${FILE_APPENDER_NAME}" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${FILE_PATH}-${FILE_NAME_PATTERN}</FileNamePattern>
            <MaxHistory>1</MaxHistory>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--myibatis log configure-->
    <logger name="com.apache.ibatis" level="TRACE"/>
    <logger name="java.sql.Connection" level="DEBUG"/>
    <logger name="java.sql.Statement" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>

    <root level="${ROOT_LEVEVL}">
        <appender-ref ref="${CONSOLE_APPENDER_NAME}"/>
        <appender-ref ref="${FILE_APPENDER_NAME}"/>
    </root>

</configuration>